@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    width: 100%;
    background: rgb(157,12,53);
    background: radial-gradient(circle, rgba(157,12,53,1) 0%, rgba(69,1,24,1) 100%);
}

h1, h2 {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    margin: 0.5rem 0;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}

.tela-principal {
    padding: 2rem;
}

/* section */
.grupos, .listaDoGrupo {
    display: flex;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.7);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.bandeirap {
    width: 50px;
    border-radius: 0.5rem;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -o-user-drag: none;
}

/* ol */
.listaGrupo {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ol li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0 0 0;
}

footer {
    height: 1rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* div de modelo para exibir cada grupo */
.modelo {
    display: none;
}

/* section .listas */
.listas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 1rem;
    row-gap: 0.25rem;
}

.inferiordireita {
    position: fixed;
    right: 0;
    bottom: 0;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 50%;
    margin: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    text-align: center;
    background: rgba(255, 255, 288, 1);
    text-decoration: none;
    font-weight: bold;
    color: #000;
    transition: ease .3s;
}

.btn-topo {
    background: rgba(157, 12, 53, 0.5);
    color: #fff;
}

.btn-topo:hover {
    background: rgba(157, 12, 53, 1);
}

/* tabela de jogos */
.tabela-de-jogos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 2rem;
    row-gap: 1rem;
}

.listaDeJogos {
    display: flex;
    align-items: center;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.7);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

h4, h5 {
    text-align: center;
    margin: 0.5rem 0;
}

h3 a {
    color: rgba(157, 12, 53);
    text-decoration: none;
}

.btn-fase {
    background: rgba(157, 12, 53);
    color: #fff;   
}

.btn-fase:hover {
    background: #222;
    color: #fff;
}
